{% extends "base.html" %}

{% block title %}Users - Broca{% endblock %}

{% block content %}
<h1>Users</h1>

<div class="users-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Display Name</th>
                <th>Messages</th>
                <th>Last Active</th>
                <th>History Limit</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{% if user.username != 'No username' %}@{{ user.username }}{% else %}-{% endif %}</td>
                <td>{{ user.display_name }}</td>
                <td>{{ user.message_count }}</td>
                <td>{{ user.last_active }}</td>
                <td>{{ user.conversation_history_limit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 